<nav class="bg-light d-flex flex-row align-items-center mb-4">
    <a href="/" class="text-dark accueil">Accueil</a>
    <div class="dropdown">
        <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Vélo (Félix)
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="/velo/show">Afficher</a></li>
            <li><a class="dropdown-item" href="/velo/add">Ajouter</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink-2" data-bs-toggle="dropdown" aria-expanded="false">
            Réparation (Maxence)
        </a>
        <ul class="dropdown-menu text-black" aria-labelledby="dropdownMenuLink-2">
            <li><a class="dropdown-item" href="/reparation/show">Afficher</a></li>
            <li><a class="dropdown-item" href="/reparation/add">Ajouter</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Loue (Valentin)
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="/loue/show">Afficher</a></li>
            <li><a class="dropdown-item" href="/loue/add">Ajouter</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink-2" data-bs-toggle="dropdown" aria-expanded="false">
            Ramène (Julien)
        </a>
        <ul class="dropdown-menu text-black" aria-labelledby="dropdownMenuLink-2">
            <li><a class="dropdown-item" href="/ramene/show">Afficher</a></li>
            <li><a class="dropdown-item" href="/ramene/add">Ajouter</a></li>
        </ul>
    </div>
</nav>
